.rodape {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--preto);
    padding: 20px; 
}

.rodape img {
    width: 100px; 
    height: auto; 
    border-radius: 8px; 
}